@media (max-width: 1366px){
    
    *{
        text-align: center;
    }
    
    body {
        background-image: url(./imagens/background3.jpg);
        background-size: cover;
        background-position: fixed;
        font-family:'Roboto', sans-serif ;
    }
    
    form {
        margin-top: 20em;
        margin-left: 19em;
        margin-right: 19em;
        background-color: white;
    }
    
    .titulo h1 {
        font-size: 2em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #0e9549;
        color: whitesmoke;
        text-shadow: 1px 1px #333;
        padding: 1px;
    }
    
    .corpo1 input{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 10px;
        color: #0e9549;
        border-color: #0e9549 !important;
        color: #387035 !important;
    }
    
    .corpo2 input{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 10px;
        color: #0e9549;
        border-color: #0e9549 !important;
        color: #387035 !important;
    }
    
    .corpo3 input{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 10px;
        color: #0e9549;
        border-color: #0e9549 !important;
        color: #387035 !important;
    }
    
    .corpo4 input{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 10px;
        color: #0e9549;
        border-color: #0e9549 !important;
        color: #387035 !important;
    }
    
    .corpo1 , .corpo2 , .corpo3 , .corpo4 , .concordar , .botão {
        margin-top: 2em;
    }
    
    .design {
        background-color: #0e9549;
        margin-top: 60px;
        color: white;
        padding: 1px;
    }
    
    button {
        background: #0e9549; 
        color: #ffffff;
        text-transform: uppercase;
        font-size: 0.85rem;
        padding: 15px 30px;
        margin-top: 20px;
        border: none;
        border-radius: 50px;
        letter-spacing: 0.5px;
        font-weight: bold;
        transition: all 500ms ease-in-out;
    }
    
    button:hover {
        background: #006110;
        cursor: pointer;
        transform: scale(1.05);
    }
    
    
}